<h1>Good burger</h1>

<h2>Home of the good burger!</h2>
<h2>Can I take your order?!</h2>

{{!-- 
<ul>
    {{#each burgers}}
    <p>
        <span class="label">ID:</span> {{this.id}}</p>
    <p>
        <span class="label">Quote:</span> {{this.burger_name}}</p>
    {{/each}}
</ul> --}}
